# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [37]:
filepath = "/home/workspace/udacity-nanodegree-data-eng/project1/data/song_data"

In [38]:
song_files = get_files(filepath)

In [39]:
df = pd.read_json(song_files[0], lines=True)
df = df.where(pd.notnull(df), None)
df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARD7TVE1187B99BFB1,None,California - LA,None,Casual,218.932,1,SOMZWCG12A8C13C480,I Didn't Mean To,0

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [8]:
import numpy as np

columns = ['song_id', 'title', 'artist_id', 'year', 'duration']
song_data = df[columns]
song_data

array(['SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0,
       218.93179], dtype=object)

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [9]:
for idx, row in df.iterrows():
    cur.execute(song_table_insert, tuple(row[columns]))
    conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [10]:
columns = ['artist_id','artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']
artist_data = df[columns]
artist_data

array(['ARD7TVE1187B99BFB1', 'Casual', 'California - LA', None, None], dtype=object)

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [11]:
for idx, row in df.iterrows():
    cur.execute(artist_table_insert, tuple(row[columns]))
    conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [44]:
filepath = "/home/workspace/udacity-nanodegree-data-eng/project1/data/log_data"

log_files = get_files(filepath)

In [45]:
df = pd.read_json(log_files[0], lines=True)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Stephen Lynch,Logged In,Jayden,M,0,Bell,182.85669,free,"Dallas-Fort Worth-Arlington, TX",PUT,NextSong,1.540992e+12,829,Jim Henson's Dead,200,1543537327796,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,91
1,Manowar,Logged In,Jacob,M,0,Klein,247.56200,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Shell Shock,200,1543540121796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
2,Morcheeba,Logged In,Jacob,M,1,Klein,257.41016,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Women Lose Weight (Feat: Slick Rick),200,1543540368796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
3,Maroon 5,Logged In,Jacob,M,2,Klein,231.23546,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Won't Go Home Without You,200,1543540625796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Train,Logged In,Jacob,M,3,Klein,216.76363,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Hey_ Soul Sister,200,1543540856796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [14]:
df = df.query("page=='NextSong'")
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Stephen Lynch,Logged In,Jayden,M,0,Bell,182.85669,free,"Dallas-Fort Worth-Arlington, TX",PUT,NextSong,1.540992e+12,829,Jim Henson's Dead,200,1543537327796,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,91
1,Manowar,Logged In,Jacob,M,0,Klein,247.56200,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Shell Shock,200,1543540121796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
2,Morcheeba,Logged In,Jacob,M,1,Klein,257.41016,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Women Lose Weight (Feat: Slick Rick),200,1543540368796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
3,Maroon 5,Logged In,Jacob,M,2,Klein,231.23546,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Won't Go Home Without You,200,1543540625796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Train,Logged In,Jacob,M,3,Klein,216.76363,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Hey_ Soul Sister,200,1543540856796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73

In [15]:
t = pd.to_datetime(df['ts'], unit='ms')
t.head()

0   2018-11-30 00:22:07.796
1   2018-11-30 01:08:41.796
2   2018-11-30 01:12:48.796
3   2018-11-30 01:17:05.796
4   2018-11-30 01:20:56.796
Name: ts, dtype: datetime64[ns]

In [16]:
t.head().dt.year, t.head().dt.hour, t.head().dt.week, t.head().dt.day, t.head().dt.weekday, t.head().dt.month

(0    2018
 1    2018
 2    2018
 3    2018
 4    2018
 Name: ts, dtype: int64, 0    0
 1    1
 2    1
 3    1
 4    1
 Name: ts, dtype: int64, 0    48
 1    48
 2    48
 3    48
 4    48
 Name: ts, dtype: int64, 0    30
 1    30
 2    30
 3    30
 4    30
 Name: ts, dtype: int64, 0    4
 1    4
 2    4
 3    4
 4    4
 Name: ts, dtype: int64, 0    11
 1    11
 2    11
 3    11
 4    11
 Name: ts, dtype: int64)

In [17]:
time_data = (df.ts.astype(int), t.dt.hour, t.dt.day, t.dt.week, t.dt.month, t.dt.year, t.dt.weekday)
column_labels = ('start_time', 'hour','day','week','month','year','weekday')

{col: time_data[idx] for idx, col in enumerate(column_labels)}

{'start_time': 0      1543537327796
 1      1543540121796
 2      1543540368796
 3      1543540625796
 4      1543540856796
 5      1543541072796
 6      1543541299796
 7      1543541520796
 9      1543541897796
 10     1543541993796
 11     1543542250796
 12     1543542516796
 13     1543542628796
 14     1543542935796
 15     1543543268796
 16     1543543524796
 17     1543543821796
 18     1543544154796
 19     1543544359796
 23     1543547190796
 24     1543547430796
 25     1543547583796
 26     1543547741796
 27     1543548069796
 30     1543548563796
 31     1543548766796
 33     1543549044796
 35     1543549171796
 36     1543549468796
 38     1543549790796
            ...
 356    1543600185796
 357    1543600424796
 358    1543600483796
 359    1543600644796
 360    1543600723796
 361    1543600999796
 362    1543601063796
 363    1543601287796
 364    1543601401796
 365    1543601616796
 366    1543601696796
 367    1543601780796
 368    1543601943796
 369    1543601973796
 370    1543602079796
 371    1543602106796
 372    1543602245796
 373    1543602372796
 374    1543602488796
 375    1543602542796
 376    1543602694796
 377    1543602766796
 378    1543602919796
 380    1543602985796
 381    1543603162796
 382    1543603205796
 383    1543603476796
 384    1543603678796
 385    1543603884796
 387    1543607664796
 Name: ts, Length: 330, dtype: int64, 'hour': 0       0
 1       1
 2       1
 3       1
 4       1
 5       1
 6       1
 7       1
 9       1
 10      1
 11      1
 12      1
 13      1
 14      1
 15      2
 16      2
 17      2
 18      2
 19      2
 23      3
 24      3
 25      3
 26      3
 27      3
 30      3
 31      3
 33      3
 35      3
 36      3
 38      3
        ..
 356    17
 357    17
 358    17
 359    17
 360    17
 361    18
 362    18
 363    18
 364    18
 365    18
 366    18
 367    18
 368    18
 369    18
 370    18
 371    18
 372    18
 373    18
 374    18
 375    18
 376    18
 377    18
 378    18
 380    18
 381    18
 382    18
 383    18
 384    18
 385    18
 387    19
 Name: ts, Length: 330, dtype: int64, 'day': 0      30
 1      30
 2      30
 3      30
 4      30
 5      30
 6      30
 7      30
 9      30
 10     30
 11     30
 12     30
 13     30
 14     30
 15     30
 16     30
 17     30
 18     30
 19     30
 23     30
 24     30
 25     30
 26     30
 27     30
 30     30
 31     30
 33     30
 35     30
 36     30
 38     30
        ..
 356    30
 357    30
 358    30
 359    30
 360    30
 361    30
 362    30
 363    30
 364    30
 365    30
 366    30
 367    30
 368    30
 369    30
 370    30
 371    30
 372    30
 373    30
 374    30
 375    30
 376    30
 377    30
 378    30
 380    30
 381    30
 382    30
 383    30
 384    30
 385    30
 387    30
 Name: ts, Length: 330, dtype: int64, 'week': 0      48
 1      48
 2      48
 3      48
 4      48
 5      48
 6      48
 7      48
 9      48
 10     48
 11     48
 12     48
 13     48
 14     48
 15     48
 16     48
 17     48
 18     48
 19     48
 23     48
 24     48
 25     48
 26     48
 27     48
 30     48
 31     48
 33     48
 35     48
 36     48
 38     48
        ..
 356    48
 357    48
 358    48
 359    48
 360    48
 361    48
 362    48
 363    48
 364    48
 365    48
 366    48
 367    48
 368    48
 369    48
 370    48
 371    48
 372    48
 373    48
 374    48
 375    48
 376    48
 377    48
 378    48
 380    48
 381    48
 382    48
 383    48
 384    48
 385    48
 387    48
 Name: ts, Length: 330, dtype: int64, 'month': 0      11
 1      11
 2      11
 3      11
 4      11
 5      11
 6      11
 7      11
 9      11
 10     11
 11     11
 12     11
 13     11
 14     11
 15     11
 16     11
 17     11
 18     11
 19     11
 23     11
 24     11
 25     11
 26     11
 27     11
 30     11
 31     11
 33     11
 35     11
 36     11
 38     11
        ..
 356    11
 357    11
 358    11
 359    11
 360    11
 361    11
 362    11
 363    11
 364    11
 365    11
 366    11
 367    11
 368    11
 369    11
 370    11
 371    11
 372    11
 373    11
 374    11
 375    11
 376    11
 377    11
 378    11
 380    11
 381    11
 382    11
 383    11
 384    11
 385    11
 387    11
 Name: ts, Length: 330, dtype: int64, 'year': 0      2018
 1      2018
 2      2018
 3      2018
 4      2018
 5      2018
 6      2018
 7      2018
 9      2018
 10     2018
 11     2018
 12     2018
 13     2018
 14     2018
 15     2018
 16     2018
 17     2018
 18     2018
 19     2018
 23     2018
 24     2018
 25     2018
 26     2018
 27     2018
 30     2018
 31     2018
 33     2018
 35     2018
 36     2018
 38     2018
        ...
 356    2018
 357    2018
 358    2018
 359    2018
 360    2018
 361    2018
 362    2018
 363    2018
 364    2018
 365    2018
 366    2018
 367    2018
 368    2018
 369    2018
 370    2018
 371    2018
 372    2018
 373    2018
 374    2018
 375    2018
 376    2018
 377    2018
 378    2018
 380    2018
 381    2018
 382    2018
 383    2018
 384    2018
 385    2018
 387    2018
 Name: ts, Length: 330, dtype: int64, 'weekday': 0      4
 1      4
 2      4
 3      4
 4      4
 5      4
 6      4
 7      4
 9      4
 10     4
 11     4
 12     4
 13     4
 14     4
 15     4
 16     4
 17     4
 18     4
 19     4
 23     4
 24     4
 25     4
 26     4
 27     4
 30     4
 31     4
 33     4
 35     4
 36     4
 38     4
       ..
 356    4
 357    4
 358    4
 359    4
 360    4
 361    4
 362    4
 363    4
 364    4
 365    4
 366    4
 367    4
 368    4
 369    4
 370    4
 371    4
 372    4
 373    4
 374    4
 375    4
 376    4
 377    4
 378    4
 380    4
 381    4
 382    4
 383    4
 384    4
 385    4
 387    4
 Name: ts, Length: 330, dtype: int64}

In [18]:
time_df = pd.DataFrame({col: time_data[idx] for idx, col in enumerate(column_labels)})
time_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 330 entries, 0 to 387
Data columns (total 7 columns):
start_time    330 non-null int64
hour          330 non-null int64
day           330 non-null int64
week          330 non-null int64
month         330 non-null int64
year          330 non-null int64
weekday       330 non-null int64
dtypes: int64(7)
memory usage: 20.6 KB

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [19]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [20]:
df.columns

Index(['artist', 'auth', 'firstName', 'gender', 'itemInSession', 'lastName',
       'length', 'level', 'location', 'method', 'page', 'registration',
       'sessionId', 'song', 'status', 'ts', 'userAgent', 'userId'],
      dtype='object')

In [21]:
user_df = df.loc[df['userId']!='',
                 ['userId','firstName','lastName','gender','level']].drop_duplicates()

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [22]:
for i, row in user_df.drop_duplicates().iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [23]:
songplay_id, start_time, userid, level, song_id,  artist_id, session_id, location, user_agent

NameError: name 'songplay_id' is not defined

In [48]:
df.columns

Index(['artist', 'auth', 'firstName', 'gender', 'itemInSession', 'lastName',
       'length', 'level', 'location', 'method', 'page', 'registration',
       'sessionId', 'song', 'status', 'ts', 'userAgent', 'userId'],
      dtype='object')

In [25]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    songplay_data = (row.ts, row.userId, row.level, songid, artistid, sessionId, location, userAgent)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

IndexError: tuple index out of range

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [21]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.